@import './tailwind-app.css';

/* @import './utils/base-root-10px.css'; */
@import './utils/zIndex.css';
@import './utils/scrollbar.css';

button {
  cursor: pointer;
}

button:disabled,
button[disabled] {
  cursor: not-allowed;
}
