# ===== server
APP_HOST=
SUPABASE_URL=
SUPABASE_ANON_KEY=
JWT_SECRET=
CEREBRAS_API_KEY=
CEREBRAS_BASE_URL=
# ===== browser
NEXT_PUBLIC_LOGIN_USER=xxxx
NEXT_PUBLIC_LOGIN_PASSWORD=xxx
NEXT_PUBLIC_STRING_ENCRYPT_KEY=xxx!@#