/*
  这里是 Antd Message 和 Notification 静态组件变量
  因为静态组件是全局样式，应用不上antd context样式主题变量，需要在这里覆盖
 */
.ant-message:not(.fe-theme) {
  color: var(--fe-color-text);

  .ant-message-notice-wrapper .ant-message-notice-content {
    background: var(--fe-color-bg-container);
  }

  .ant-message-notice-wrapper .ant-message-info > .anticon,
  .ant-message-notice-wrapper .ant-message-loading > .anticon {
    color: rgb(var(--fe-color-brand));
  }
}

.ant-notification:not(.fe-theme) {
  .ant-notification-notice-wrapper {
    background: rgb(var(--fe-color-elevated));
  }

  .ant-notification-notice-wrapper .ant-notification-notice-close {
    color: rgb(var(--fe-color-primary-text) / 0.45);
  }

  .ant-notification-notice-wrapper .ant-notification-notice-message {
    color: var(--fe-color-text-heading);
  }

  .ant-notification-notice-wrapper .ant-notification-notice-description {
    color: var(--fe-color-text);
  }
}
