/**
 * This file is used to define the page styles for the app.
 * 
 * @example --color-primary
 * ```tsx
 * <div className="bg-primary text-primary border-text-tertiary"></div>
 * ```
 */
@theme {
  --color-primary: rgba(var(--color-bg-base));
  --color-secondary: rgba(var(--color-bg-secondary));
  --color-elevated: rgba(var(--color-bg-elevated));
  --color-text: rgba(var(--text-primary));
  --color-text-hover: rgba(var(--text-primary-hover));
  --color-text-secondary: rgba(var(--text-secondary));
  --color-text-tertiary: rgba(var(--text-tertiary));
  --color-c-border: rgba(var(--color-border));
  --color-c-brand: rgba(var(--color-brand));
  --color-c-brand-hover: rgba(var(--color-brand-hover));
}
